html {
    background-color: #eee;
}

#lesson-container {
    width: auto;
    margin: 0 5%;
}

#stats-container {
    position: fixed;
    left: 0;
    bottom: 5em;

}

.keyboard {
    margin: 2em 0;
}

#line {
    border-bottom: 0.2em solid #22c122;
}
.typeNext {
    font-weight: bold;
}

.typingLine {
    font-family: monospace, monospace;
    font-size: 2em;
}

ul, nav {
    list-style: square;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #e8e8e8;
    font-size: 1em;
    line-height: 3em;
    text-align: left;
    padding: 1em 1em;
}

.footer a {
    color: #ace;
}