html {
    background-color: #eee;
}

ul, nav {
    list-style: square;
}

ol li {
    list-style-type: none;
    font-size: 1.5em;
    font-weight: bold;
}

.preferences-list {
    list-style: none;
}
.preferences-list li {
    display: inline-block;
    margin: 0 10px 0 0;
}

#navigation nav {
    border-bottom: 1px solid black;
}
#navigation  ol {
    list-style-type: none;
    padding-left: 0;
}
#navigation li {
    display: inline-block;
}
#navigation  a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

#lesson-container {
    width: auto;
    margin: 0 5%;
}

#lesson-stats-container {
    position: fixed;
    left: 0;
    bottom: 5em;
}

#lesson-select {
    height: 500px;
    overflow-y: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.lesson-card {
    margin: 4px;
    padding: 4px;
    list-style-type: none;
    cursor: pointer;
    width: 150px;
    height: 60px;
    border-radius: 4px;
    box-shadow: 2px 4px 8px #d4d4d4;
    box-sizing: border-box;
}

.lesson-card:hover {
    padding: 3px;
    border: 1px solid #bebebe;
}

.lesson-card .lesson-title {
    font-weight: bold;
}
.lesson-card .lesson-brief-result {
}

/** Levels **/
.card-level-expert {
    background-color: rgb(52, 203, 140);
}
.card-level-proficient {
    background-color: rgb(52, 203, 140);
}
.card-level-competent {
    background-color: rgb(77, 179, 225);
}
.card-level-advanced-beginner,
.card-level-novice {
    background-color: rgb(244, 177, 53);
}
.card-level-failed {
    background-color: rgb(255, 99, 98);
}

.results-level {
    font-size: 2em;
}
.level-expert,
.level-proficient {
    color: rgb(52, 203, 140);
}
.level-competent {
    color: rgb(77, 179, 225);
}
.level-advanced-beginner,
.level-novice {
    color: rgb(244, 177, 53);
}
.level-failed {
    color: rgb(255, 99, 98);
}
/* End levels */

.legend-item {
    padding: 4px;
    margin: 0 5px;
    border-radius: 4px;
}

.keyboard {
    margin: 2em 0;
    display: flex;
    justify-content: center;
}

#line {
    border-bottom: 0.2em solid #22c122;
}
.typeNext {
    font-weight: bold;
}

.typingLine {
    font-family: monospace, monospace;
    font-size: 2em;
    text-align: center;
}

#results-controls {
    position: fixed;
    bottom: 90px;
    left: 0;
    width: 100%;
    padding: 10px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #e8e8e8;
    font-size: 1em;
    line-height: 3em;
    text-align: left;
    padding: 1em 1em;
}

#footer a {
    color: #ace;
}

.hidden {
    display: none;
}
