html {
    background-color: #eee;
}

#lesson-container {
    width: auto;
    margin: 0 5%;
}

#lesson-stats-container {
    position: fixed;
    left: 0;
    bottom: 5em;

}

.results-level {
    font-size: 2em;
}
.level-expert,
.level-proficient {
    color: rgb(52, 203, 140);
}
.level-competent {
    color: rgb(77, 179, 225);
}
.level-advanced-beginner,
.level-novice {
    color: rgb(244, 177, 53);
}
.level-failed {
    color: rgb(255, 99, 98);
}

.keyboard {
    margin: 2em 0;
}

#line {
    border-bottom: 0.2em solid #22c122;
}
.typeNext {
    font-weight: bold;
}

.typingLine {
    font-family: monospace, monospace;
    font-size: 2em;
}

ul, nav {
    list-style: square;
}

#results-controls {
    position: fixed;
    bottom: 90px;
    left: 0;
    width: 100%;
    padding: 10px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #e8e8e8;
    font-size: 1em;
    line-height: 3em;
    text-align: left;
    padding: 1em 1em;
}

#footer a {
    color: #ace;
}

.hidden {
    display: none;
}