/** Themes **/
html {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
body.theme-bright {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
body.theme-warm {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
/** End Themes **/

ul, nav {
    list-style: square;
}

ol li {
    list-style-type: none;
    font-size: 1.5em;
    font-weight: bold;
}

button {
    font-size: 1em;
    border-radius: 4px;
    padding: 8px;
    min-width: 80px;
}

.preferrences-list {
    list-style: none;
}
.preferrences-list .preferrence {
    display: inline-block;
    margin: 0 10px 0 0;
}

.preferrence {
    margin: 0 8px 0 0;
}
.preferrence input {
    margin: 0 4px 0 0;
}
.preferrence select {
    margin: 0 0 0 4px;
}
.preferrence label {
    cursor: pointer;
}

#navigation {
    margin: 10px 0;
}
#navigation nav {
    border-bottom: 1px solid black;
}
#navigation  ol {
    list-style-type: none;
    padding-left: 0;
}
#navigation li {
    display: inline-block;
}
#navigation  a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

#lesson-container {
    width: auto;
    margin: 0 5%;
}

#lesson-stats-container {
    position: fixed;
    left: 0;
    bottom: 5em;
}

#lesson-select {
    height: 500px;
    overflow-y: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.lesson-card {
    margin: 4px;
    padding: 4px;
    list-style-type: none;
    cursor: pointer;
    width: 150px;
    height: 60px;
    border-radius: 4px;
    box-shadow: 2px 4px 8px #d4d4d4;
    box-sizing: border-box;
}

.lesson-card:hover {
    padding: 3px;
    border: 1px solid #bebebe;
}

.lesson-card .lesson-title {
    font-weight: bold;
}

/** Levels **/
.card-level-expert {
    background-color: var(--level-expert);
}
.card-level-proficient {
    background-color: var(--level-proficient);
}
.card-level-competent {
    background-color: var(--level-competent);
}
.card-level-advanced-beginner {
    background-color: var(--level-advanced-beginner);
}
.card-level-novice {
    background-color: var(--level-novice);
}
.card-level-failed {
    background-color: var(--level-failed);
}

.results-level {
    font-size: 2em;
}
.level-expert {
    color: var(--level-expert);
}
.level-proficient {
    color: var(--level-proficient);
}
.level-competent {
    color: var(--level-competent);
}
.level-advanced-beginner {
    color: var(--level-advanced-beginner);
}
.level-novice {
    color: var(--level-novice);
}
.level-failed {
    color: var(--level-failed);
}
/* End levels */

.legend-item {
    padding: 4px;
    margin: 0 5px;
    border-radius: 4px;
}

#results-container .results-level {
    margin: 8px 0;
}
#results-container .results-level .legend-item {
    margin: 4px 0;
}

.keyboard {
    margin: 2em 0;
    display: flex;
    justify-content: center;
}

#line {
    border-bottom: 0.2em solid #22c122;
}
.typeNext {
    font-weight: bold;
}

.typingLine {
    font-family: monospace, monospace;
    font-size: 2em;
    text-align: center;
}

#results-controls {
    position: fixed;
    bottom: 90px;
    left: 0;
    width: 100%;
    padding: 10px;
}

.lesson-controls {
    text-align: center;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #e8e8e8;
    font-size: 1em;
    line-height: 3em;
    text-align: left;
    padding: 1em 1em;
}

#footer a {
    color: #ace;
}

.hidden {
    display: none;
}
